{% extends 'base.html'%}
{% load static %}

{% block content %}


<div class="container mt-5">
    <form class="mx-auto" method="post">
        {% if message %}
        <div class="alert alert-info"> {{message}}</div>
        {% endif %}

        {% csrf_token %}


        <div class="container">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <center><h3>Login</h3></center>
                    <br>

                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter your username" class="form-control">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your password" class="form-control">
                    <button type="submit" class="btn btn-primary mt-4">Login</button>
                </div>
                <br>
                <br>

            </div>

            <div class="col-md-4">
            </div>
        </div>


    </form>
</div>
{% endblock %}