{% extends 'base.html' %}
{% block content %}
<script>
    function set_values(index, title, subject, description){
        console.log(index);
        console.log(title);
        console.log(subject);
        console.log(description);

    }
</script>

<div class="container">
    <center>
        <h1>Student Dashboard</h1>
    </center>

    <!-- Carousel wrapper -->
    <div
            id="carouselMultiItemExample"
            class="carousel slide carousel-dark text-center"
            data-mdb-ride="carousel"
    >
        <!-- Controls -->
        <div class="d-flex justify-content-center mb-4">
            <button
                    class="carousel-control-prev position-relative"
                    type="button"
                    data-mdb-target="#carouselMultiItemExample"
                    data-mdb-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                    class="carousel-control-next position-relative"
                    type="button"
                    data-mdb-target="#carouselMultiItemExample"
                    data-mdb-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Inner -->
        <div class="container">
            <div class="row">
                {% for note in notes %}

                <!--            <div class="col-md">-->
                <!--                <h1>{{note.note_title}}</h1>-->
                <!--                <h1>{{note.subject}}</h1>-->
                <!--                <h1>{{note.note_desc}}</h1>-->
                <!--            </div>-->
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <div class="card">
                        <img
                                src="https://mdbootstrap.com/img/new/standard/nature/187.jpg"
                                class="card-img-top"
                                alt="..."
                        />
                        <div class="card-body">
                            <p>{{note.id}}</p>
                            <h5 class="card-title">{{note.note_title}}</h5>
                            <h5 class="card-title">{{note.subject}}</h5>
                            <p class="card-text">
                                {{note.note_desc}}
                            </p>
                            <a href="{% url 'note_detail' id=note.id %}" class="btn btn-primary">View Detail</a>
                            <a class="btn btn-success"
                               class="d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white"
                               data-toggle="modal" data-target="#editModal"
                               data-whatever="@mdo" onclick="set_values({{note.id}}, {{note.note_title}}, {{note.subject}}, {{note.note_desc}})">Edit</a>
                            <a href="{% url 'delete_note' id=note.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>


                {% endfor %}
            </div>
        </div>

        <!-- Inner -->
    </div>

    <hr>
    <br><br>
    <h2>Enter your note here</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Some title">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput2">Subject</label>
            <input type="text" name="subject" class="form-control" id="exampleFormControlInput2" placeholder="Subject">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea3">Note Description</label>
            <textarea class="form-control" name="note_desc" id="exampleFormControlTextarea3" rows="3"></textarea>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="is_private" value="private" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Is private
            </label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    <!-- Carousel wrapper -->


</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3></h3>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="edit_id" id="edit_id"/>
                    <div class="form-group">
                        <label for="edit_note_title" class="col-form-label">Note title:</label>
                        <input type="text" name="note_title" class="form-control" id="edit_note_title">
                    </div>
                    <div class="form-group">
                        <label for="edit_desc" class="col-form-label">Description:</label>
                        <input type="text" name="note_desc" class="form-control" id="edit_desc">
                    </div>
                    <div class="form-group">
                        <label for="edit_subject" class="col-form-label">Subject</label>
                        <input type="email" name="subject" class="form-control" id="edit_subject">
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}